<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8" />
    <title>Exercice 6</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  </head>
  <body>
    <div>
    <button type="button" name="show" ng-click="show=true">AFFICHER</button>
    <button type="button" name="hide" ng-click="show=false">CACHER</button>
    </div>
    <p ng-show="show">L'Axolotl, Ambystoma mexicanum, est une espèce d'urodèles de la famille des Ambystomatidae.L'ORNITHORYNQUE (ORNITHORHYNCHUS ANATINUS) EST UN ANIMAL SEMI-AQUATIQUE ENDÉMIQUE DE L'EST DE L'AUSTRALIE, Y COMPRIS LA TASMANIE.</p>
  </body>
</html>
